.task-conteiner {
	margin: 0 auto;
	width: 400px;
}

.tasks-panel {
	margin: 0 auto;
	width: 400px;
	display: flex;
	flex-direction: column;
}

.tasks-container {
	width: 400px;
	margin: 0 auto;
}

.input:focus {
	border: 1px solid rgb(92, 130, 225);
}

.button-row {
	margin-top: 8px;
	display: flex;
	justify-content: flex-end;
}

.button-create {
	margin-left: 8px;
}

.list-tasks {
	margin: 8px 0 16px 0;
	font-weight: bold;
	font-size: 18px;
}
.checkbox {
	cursor: pointer;
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
		inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 6px;
	border-radius: 3px;
	position: relative;
	margin-right: 6px;
}
.checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
		inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
		inset 15px 10px -12px rgba(255, 255, 255, 0.1);
	color: #878888;
}
.checkbox:checked:after {
	content: '\2714';
	font-size: 13px;
	position: absolute;
	top: -4px;
	left: 1px;
	color: #525252;
}

.description-fields {
	height: 84px;
	resize: none;
	overflow: hidden;
	padding-right: 25px;
	margin-top: 8px;
}

.description-fields:hover {
	overflow: visible;
	padding-right: 15px;
}

.tit {
	margin: 0;
	color: #525252;
}

.button-group {
	display: flex;
	border: 1px solid gray;
	border-radius: 4px;
	width: fit-content;
	margin: 8px 0 16px 0;
}

.button-group-btn {
	padding: 4px 8px;
	height: 30px;
	border-radius: 0px 4px 4px 0px;
}

.button-group-btn:first-child {
	border-right: 1px solid gray;
	border-radius: 4px 0px 0px 4px;
}

.button-group-btn.active {
	background-color: #e9ecee;
}

.burger-icn {
	height: 22px;
	width: 22px;
}

.rotate {
	transform: rotate(90deg);
}
